Pic.jpeg {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #6C63FF;
    display: block;
    margin: 20px auto;
}
body {
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 40px;
    line-height: 1.6;
}

h1 {
    color: light-blue;
    text-align: center;
}

h2 {
    color: purple;
}
